<h1>Login</h1>

<form action="/count" method="post" >

    <input type="submit" name="size" value="Small">
    <input type="submit" name="size" value="Medium">
    <input type="submit" name="size" value="Large">

</form>

console.log(req.body.size)